dist
packages/import/tests/schema/fixtures/import-duplicate/all.graphql
packages/import/tests/schema/fixtures/imports-only/all.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/1/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/2/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/3/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/4/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/5/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/6/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/7/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/8/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/9/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/10/index.graphql
packages/import/tests/schema/fixtures/multiple-directories-with-master-schema/index.graphql
packages/import/tests/schema/fixtures/multiple-imports/schema.graphql
packages/import/tests/schema/fixtures/multiple-levels-master-schema/level1.graphql
packages/load/tests/loaders/documents/test-invalid-syntax/invalid-syntax.query.graphql
packages/load/tests/loaders/schema/test-files/error.ts
packages/load/tests/loaders/schema/test-files/schema-dir/invalid.graphql
packages/loaders/git/tests/test-files/type-defs-invalid.graphql
packages/loaders/json-file/tests/test-files/failing/malformed.json
website/.next
website/out
.bob
CHANGELOG.md

# temporarly ignore follow files because prettier-ignore comments don't work in mdx2
# see https://github.com/prettier/prettier/pull/12208
website/docs/mocking.mdx
website/docs/graphql-tag-pluck.mdx
website/docs/schema-stitching/stitch-directives-sdl.mdx
