code[class*='language-'],
pre[class*='language-'] {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

code,
code * {
  font-family: 'SF Mono', 'Source Code Pro', Menlo, monospace;
}

article {
  width: 100%;
  overflow-x: auto;
}

aside {
  position: static !important;
}

code {
  margin-top: 15px !important;
}

.chakra-text a {
  font-weight: 700;
  color: blue;
}
