name: website

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deployment:
    runs-on: ubuntu-latest
    if:
      github.event.pull_request.head.repo.full_name == github.repository || github.event_name ==
      'push'
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: the-guild-org/shared-config/setup@v1
        name: setup env
        with:
          node-version-file: .node-version

      - uses: the-guild-org/shared-config/website-cf@main
        name: build and deploy website
        env:
          NEXT_BASE_PATH: ${{ github.ref == 'refs/heads/master' && '/graphql/tools' || '' }}
          SITE_URL:
            ${{ github.ref == 'refs/heads/master' && 'https://the-guild.dev/graphql/tools' || '' }}
        with:
          cloudflareApiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          cloudflareAccountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: graphql-tools
          prId: ${{ github.event.pull_request.number }}
          websiteDirectory: ./
          buildScript: npm run build && npm run build:api-docs && cd website && npm run build
          artifactDir: website/out
